html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.content-wrap {
  padding: auto;
  block-size: auto;

}



#topnav {

  overflow: hidden;
  background-color: rgb(60, 5, 86);
}

#logo-image {
  width: 14px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;

}

#topnav a {
  float: left;
  display: block;
  color: #c399ea;
  text-align: center;
  padding: 14px 17px;
  text-decoration: none;
  font-size: 17px;
}



#topnav a:hover {
  background-color: rgb(215, 166, 241);
  color: unset;
}

#topnav-centered a:hover {
  background-color: unset;
  color: #c399ea;
}

#topnav a.active {
  background-color: rgb(215, 166, 241);
  color: white;
}

#topnav-centered a {
  display: block;
  position: fixed;
  top: 0%;
  left: 45%;
  right: 45%;
  transform: translate(0%, 0%);

}




#topnav-right {
  float: right;
  display: block;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 800px) {

  #topnav a,
  #topnav-right {
    float: none;
    display: block;
  }

  #topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.sticky+.body_sec {
  padding-top: 108px;
}


.container {
  width: 100%;
  position: fixed;
  bottom: 0px;
}

.footer {
  width: 950px;
  margin: auto;
}

.footerContent {
  float: none;
  width: 100%;
  padding: 9px;
}

.footer p {
  position: auto;
  width: 100%;
  text-align: center;
}



div#custom-div {
  position: absolute;
  height: auto !important;
  width: 100%;

}

.box {
  float: left;
  width: 100%;
  min-height: 25%;

  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  border: rgb(124, 7, 226);

 
  background-color: #333;
}

.description {
	font-size: 30px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.headers h1 {
	font-size: 70px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
}

.headers h3 {
 background: radial-gradient(
    rgb(123, 25, 99), 
    rgb(92, 2, 131) 
  ) fixed;
  background: conic-gradient(
    rgb(123, 25, 99), 
    rgba(236, 11, 138, 0.686), 
    rgb(109, 9, 49) 
  ) fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}