
body {
  margin: 0;
  font-size: 12px;
  background: rgba(225,179,130,1);
}
main {
  background-color: rgba(225,179,130,1);
  margin-top: -4px;
  z-index: 3;
}
header {
  background: rgb(45,84,94);
  margin-bottom: 0px;
  margin-top: 0px;
}
svg {
  width: 100%;
  height: 100%;
}
#first path {
  fill: rgb(45,84,94);
}
#first rect {
  fill: rgba(225,179,130,1);
}
#second path {
  fill: rgba(225,179,130,1);
}
#second rect {
  fill: rgb(45,84,94);
}
.wave {
  position: relative; 
  width: 100%;
  z-index: 2;
 padding-bottom: 0px;
 padding-top: 0px;
 display: inline-block;
}
.nav{
  transition: all .5s ease;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;  
  /* bottom: 0; */
  left: 0;
  padding: 30px 0px;
  letter-spacing: 2px;
  line-height: 100px;
  overflow: hidden;
}
  .brand{
    /* line-height: 30px; */
    float: left;
    height: 144px;
  }
    .brand a{
      color: #E33B00;
      text-decoration: none;
      float: left;
    }
    /* padding-right: 60px; */
  .navbar {
    margin: 0;
    text-transform: uppercase;
    overflow: hidden;
    position:fixed;
    z-index: 8;
    background-color: rgb(45,84,94);
    width: 74%;
    margin-left: 12%;
    min-width: 50%;
    
    margin-top: 20px;
  }
  
  .navbar  li{
      text-align: center;
      list-style: none;
      padding: 15px 15px;
      cursor: pointer;
      line-height: 30px;
      float: left;
  }
  .navbar .hamburger {
    float: right;
  }
  .openbtn {
    text-align: center;
    background-color: rgb(45,84,94);
    color: white;
    border: none;
    font-size: 20px;
    margin: 0px;
    float: right;
  }
  .openbtn:hover {
    font-weight: bold;
    transform:scale(1.1); -webkit-transform:scale(1.1);
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #12343b;
    background-color: rgb(45,84,94, 0.9);
    overflow: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: rgba(225,179,130,1);
    display: block;
    transition: 0.3s;
  }
  .overlay a:hover, .overlay a:focus {
    color: rgba(225,179,130,1);
    font-weight: bold;
  }  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 104px;
    font-size: 60px;
  }
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
    .openbtn {float: right;}
  }
  @media screen and (max-width: 500px) {
    .navbar {
      position: relative;
    }

    .openbtn {float: right;}
  }
      li:hover a{
        font-weight: bold;
      }
      li a{
        color: #eee;
        text-decoration: none;
      }
      li span {
        color: #eee;
        text-decoration: none;
      }
      li span:hover{
        font-weight: bold;
      }
/*nav bar styling
.navbar {
  margin-bottom: 0px;
  align-content: center;

}


.navbar > a {
  float: right;
  
  margin: 3px;
}

.logo {
  
  margin: 3px;
}
*/
/*main content styling */

.view1 {
  margin: -5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.box {
  margin: 15px;
  padding: 10px;
  padding-top: 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  width: 75%;
  
  
  background-image: linear-gradient(
    to bottom right,
    #2d545e,
    #e1b382
    
    
  );
  z-index: 7;
  
  box-shadow: 8px 8px 8px 8px rgba(34, 60, 80, .16);
}

.grid .box:hover {
  
    
    
    box-shadow: 2px 2px rgb(45,84,94, 0.6);
  }
  .grid2 .box:hover {
  
    
    box-shadow: 2px 2px rgb(45,84,94, 0.6);
  }

  

  .flip {
    overflow: hidden;
    transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transform: rotateY(0);
    -moz-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    display: inline-block;

  }
  .flip.active {
    transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
  }
  .flip-initial {
    position: absolute;
    transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
  }

  .content-flip {
    text-decoration: none;
    opacity: 0;
    overflow-y: hidden;
    transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -webkit-perspective: 1000px;
  }
  .flip.active .content-flip {
    opacity: 1;
  }
  .flip.active .flip-initial{
    opacity: 0;
  }
  .grid {
    display: grid;
    width: 75%;
    grid-template-columns: 50% 50%;
    justify-content: stretch;
   
    padding: 5px;
    margin: 5px;
    z-index: 3;
    justify-items: center;
    align-items: center;
  }


  .grid2 {
    display: grid;
  grid-template-columns: 1fr 1fr;
  
  gap: 10px;
  padding: 5px;
  margin: 5px;
  justify-items: center;
  align-items: center;
  }
  
  .grid2 > .box {
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  min-height: 150px;
  padding: 10px;
  margin: 20px;
  background-image: linear-gradient(
    to bottom right,
    #2d545e,
    #e1b382
  );
  box-shadow: 8px 8px 8px 8px rgba(34, 60, 80, .16);
  overflow-y: auto;
  }

  

/* footer styling */ 
.footer-distributed {
  background-color: #2d545e;
  
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 30px 30px;
  margin-bottom: 0px;
  margin-top: -4px;
}
.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */
.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}
.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}


.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
